name: Rust Workspaces CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [
          "example1",
          "example2/env",
          "example2/mariaDb",
          "example3",
          "example4",
          "example5",
          "example6"
        ]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Build and Run Tests
        working-directory: ./${{ matrix.project }}
        run: |
          cargo build --workspace --all-targets --verbose
          cargo test --workspace --all --verbose
