# .github/workflows/rust.yml
name: Rust Workspaces CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        project: [
          "example1",
          "example2/env",
          "example2/mariaDb",
          "example3",
          "example4",
          "example5",
          "example6",
          "example9"
        ]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Rust toolchain (stable)
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build and Test
        working-directory: ./${{ matrix.project }}
        run: |
          cargo build --all-targets --verbose
          cargo test --all --verbose
